version: "3.9"
services:
  mongo:
    image: mongo:6.0
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_ROOT_PASSWORD}
      MONGO_INITDB_DATABASE: ${MONGO_INITDB_DATABASE}
    ports:
      - "32768:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - iot-net

  app:
    build: .
    restart: on-failure
    environment:
      NODE_ENV: production
      PORT: 5000
      MONGO_USER: ${MONGO_ROOT_USERNAME}
      MONGO_PASSWORD: ${MONGO_ROOT_PASSWORD}
      MONGO_HOST: mongo
      MONGO_PORT: 27017
      MONGO_DB: ${MONGO_INITDB_DATABASE}
      MONGO_URI: ${MONGO_URI}
      CLIENT_ID: ${CLIENT_ID}
      MQTT_BROKER_URL: ${MQTT_BROKER_URL}
      MQTT_BROKER_PORT: ${MQTT_BROKER_PORT}
      MQTT_BROKER_USERNAME: ${MQTT_BROKER_USERNAME}
      MQTT_BROKER_PASSWORD: ${MQTT_BROKER_PASSWORD}
      JWT_SECRET: ${JWT_SECRET}
    depends_on:
      - mongo
    ports:
      - "5000:5000"
    volumes:
      - ./certs:/usr/src/app/certs:ro
    networks:
      - iot-net
    extra_hosts:
      - "attendance.thecloudserv.com:182.180.50.59"

networks:
  iot-net:
    driver: bridge

volumes:
  mongo_data:
    driver: local
